# (Opcional) Supabase URL para conexão futura do banco de dados
# VITE_SUPABASE_URL=seulink.supabase.co

# (Opcional) Chave Anônima Supabase para futuras interações client-side
# VITE_SUPABASE_ANON_KEY=suachaveanonimaaqui
